
.thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-size: cover;
}

/*Overriding Anular Material Styling*/
.mat-sort-header-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

tr.mat-row {
    height: 70px !important;
}