<h1>Shopping Cart</h1>
<p>
    You have {{ cart?.getTotalItemCount }} items in your shopping cart.
</p>

<div class="col-10 mat-elevation-z8">

    <table mat-table [dataSource]="items" matSort>

        <!-- Product Image Column -->
        <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef style="width: 70px;"></th>
            <td mat-cell *matCellDef="let item">
                <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
            </td>
            <td mat-footer-cell *matFooterCellDef class="font-weight-bold" style="text-align: left; width: 120px;" >Total Cost</td>
          </ng-container>

        <!-- Product Column -->
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
            <td mat-cell *matCellDef="let item" style="text-align: center;"> {{ item.title }} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 230px;"> Quantity </th>
            <td mat-cell *matCellDef="let item" class="flex-cell-align-center">
                <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
            <td mat-cell *matCellDef="let item" style="text-align: center;"> {{ item.totalPrice | currency: 'USD' }} </td>
            <td mat-footer-cell *matFooterCellDef class="font-weight-bold" style="text-align: center;"> {{ cart?.totalCost | currency: 'USD'}} </td>

        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
    </mat-paginator>
</div>

<div class="row">
    <div class="col-3">
        <button (click)="clearCart()" class="btn btn-danger btn-sm mt-4">
            Clear Shopping Cart</button>
    </div>
    <div class="col"></div>
</div>
