/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

body {
    padding: 80px;
}

table {
    width: 100%;
}

.text-align-vertically {
    margin-top: auto;
    margin-bottom: auto;
}



